@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: antiquewhite;
    padding: 30px;
    text-align: center;
}
menu{
    background-color: beige;
    

}
menu li {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    background-color: bisque;
    margin: 0px 20px;
}

article{
    width: 600px;
    text-align: justify;
    margin: auto;
}
article h2 {
    text-align: center;
}
article p {
    padding: 20px;
}